.replycontainer {
	/*height: 100px;*/
}


.replytitle {
	font-size: 2em;
	margin-top: 0.5em;
	padding: 1em;
	background-color: #eee;
	text-align: left !important;
	word-break: break-word;
	.reply-letter{
		font-weight: bold;
		font-size: 1.1em;
	}
	.reply-question-text{
		font-size: 0.9em;
	}
	.reply-question-asker{
		font-size: 0.7em;
		opacity: 0.7;
	}
	.reply-question-time{
		font-size: 0.7em;
	}

}

.question-answer{
	font-size: 1.1em;
	padding: 0.5em;
	border-radius: 5px;
	border: 1px solid #bbb;
	position: relative;
	line-height: 1.3em;
}

.answerdate{
	font-size: 0.7em;
	font-weight: 600;
	float: right;
}

.replyBoxArea {
  	/*margin-top: 8px;
  	margin-left: 1em;
  	margin-right: 1em;*/
  	border-radius: 4px;
	display: block;
	border: 1px solid #aaa;
	color: #666;
	font-weight: 300;
	font-size: 14px;
	height: 65px;
	outline: 0;
	resize: none;
  	width: auto;
  	padding: 8px 10px;
  	width: 100%;
}

.replyBox {
	padding: 1em;
}

.replysubmitbutton {
	width: 30%;
	display: inline-block;
	float: right;
	height: 30px;
	margin: 0px auto;
	margin-right: 1em;
	background-color: #2ecc71;
	margin-bottom: 35px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	color: white;
	padding-top: 10px;

	&:hover {
		background-color: #4cd785;
	}
}

.replycounter {
	font-weight: 300;
	color: #999999;
	font-size: 14px;
	float: left;
	padding-left: 15px;
}

.anonymDiv {
	display: inline-block;
	margin-top: 10px;
	margin-left: 15%;

	> .checkbox {
		margin-right: 10px;
	}
}